[project]
	description = PHP based download accelerator
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Jacer OMRI (JacerOmri)
[access "refs/for/refs/*"]
	read = group user/Jacer OMRI (JacerOmri)
	push = group user/Jacer OMRI (JacerOmri)
	label-Code-Review = -2..+2 group user/Jacer OMRI (JacerOmri)
	label-Verified = -1..+1 group user/Jacer OMRI (JacerOmri)
	rebase = group user/Jacer OMRI (JacerOmri)
	removeReviewer = group user/Jacer OMRI (JacerOmri)
	submit = group user/Jacer OMRI (JacerOmri)
[access "refs/heads/*"]
	read = group user/Jacer OMRI (JacerOmri)
	create = group user/Jacer OMRI (JacerOmri)
	push = +force group user/Jacer OMRI (JacerOmri)
	pushMerge = group user/Jacer OMRI (JacerOmri)
[access "refs/tags/*"]
	push = +force group user/Jacer OMRI (JacerOmri)
	pushTag = group user/Jacer OMRI (JacerOmri)
	pushSignedTag = group user/Jacer OMRI (JacerOmri)
