html, body{ 
  padding:0px;
  margin:0px;
}

body {
  background-color: #e1ddd9;
  font-size: 12px;
  font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
  color:#564b47;  
}
	
a { 
color: #ff66cc;
font-size: 11px;
background-color:transparent;
text-decoration: none; 
}
	
pre { 
color: #564b47;
font-size: 11px;
background-color:transparent;
font-family: Courier, Monaco, Monospace;
} 
	
h1 {
font-size:14px;
padding-top:50px;
text-transform:uppercase;
color: #564b47;
background-color: transparent;
		}	
		
		
p,h1,pre {
		margin:0px 30px 10px 30px;
}		
	
/*  dynamic layers positioning  */

#content {
		float:left;
		width:70%;
		left: 0px;
		background:#fff;
		border-right:2px solid #564b47;
		border-bottom:2px solid #564b47;
		margin-right:15px;

		}

#menu {
		}
		
	
#menu p {
		font-size:11px;
		margin-left:0px;
		}

/*  jquery  */
